.list-wrapper {
	display: flex;
	justify-content: center;

	.list-item {
		width: 50%;
		background: #fff;
		border-radius: 15px;
		margin: 10px;
		box-shadow: 5px 5px 35px rgba(104, 36, 47, 0.849);

		h3 {
			text-align: center;
			text-decoration: underline;
			color: rgb(173, 30, 97);
			text-shadow: 0px 0px 45px rgba(104, 36, 47, 0.849);
		}

		.list-image {
			height: 150px;
			width: 150px;
			border-radius: 50%;
			box-shadow: 0px 0px 20px rgba(104, 36, 47, 0.849);
		}

		.image-and-tags-wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 20px 100px;
		}

		.tag {
			background: rgb(173, 30, 97);
			border-radius: 5px;
			padding: 8px;
			margin: 10px;
			color: #fff;
			text-decoration: none;
			text-align: center;
		}

		.list-item-link {
			display: block;
			text-align: center;
			margin: 25px;
			color: rgb(173, 30, 97);
			text-decoration: none;
		}
	}
}